body, p, ul, li, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
}

body {
	font-family: Tahoma, Arial, sans-serif;
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}